{% extends 'base.html'%}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to EmployeeMis home page</h1>
      <p class="lead">This system captures employee's bio details (name, date of birth, phone number, academic background),employee human resource details (Position in the organisation, roles and duties) and employee payroll details (earnings, deductions). The system also generates some sort of report. 
      </p>
    </div>
  </div>

{% endblock %}